body {
    margin: 60px auto;
    width: 70%;
    background-color:#fcfbed;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 20px;
    list-style: none;
    font-weight: bold;
    background-color: white;
}
    
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.container {
    margin: 20px 0px;
    height: auto;
}

.imageleft {
  max-width: 20%;
  padding: 10px;
  float: left;
  margin: 0px;
}

.textright {
    max-width: 80%;
    padding: 10px; 
    float: left;
    margin: 0px;
}



